<% include partials/header %>
<a href='/'>Home</a>

<form action='/recipes' method='POST'>
    <input type='text' name='title' placeholder='meal'>
    <button>Submit</button>
</form>

<% recipe.forEach(recipe => { %>
    <li><%= recipe.title %></li>
<% }); %>

<% include partials/footer %>